form {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
input {
  font-size: 1em;
  padding: 0.2rem 0.5rem;
  outline: none;
  transition: all 300ms;
}
input[type="text"] {
  border-radius: 3px 0 0 3px;
  border-color: var(--main-color);
  border-right: 0;
  border-style: solid;
}
input[type="submit"] {
  font-weight: bold;
  background-color: var(--main-color);
  border: none;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: var(--hover-color);
}

.containerTasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  transition: all 900ms;
}
